
.head-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wraper {
  width: 100%;
}

#survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.content-wraper {
  margin-top: 2rem;
}

label {
  display: flex;
  margin-bottom: 0.5rem;
}